html {
    box-sizing: border-box;
    overflow: hidden;
    margin:0;
    background-color: black;
}

body {
    margin:0;
    user-select: none;
    background-color: black;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 100wh;
}

canvas {
    will-change: auto;
}

#menu-bg {
    // background-image: url('/img/menu/bg-menu.jpg');
    // background-size: cover;
    margin: 0 auto;
}

.loading-box {
    background-color: #f49231aa;
    font-family: 'Alfa Slab One', serif;
    font-size: 18px;
}

#menu-box {
    box-sizing: border-box;
    background-color: #c16509aa;
    padding: 25px;
    margin-top: 20%;
}

.menu-row {
    font-family: 'Alfa Slab One', serif;
    font-size: 18px;
    background-color: #f49231aa;
    width: 100%;
    height: 40px;
}

.menu-element {
    margin-bottom: 10px;
    &:hover {
        cursor: pointer;
        background-color: #e7bb8f !important;
    }
}

.logo-position {
    position: absolute;
    top: 20%;
    left: 50vw;
    transform: translate(-50%, -50%);
    width: 400px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.bg-menu-selector {
    background-color: #c15909;
}

.bg-menu-selector-back {
    background-color: #c1590977;
}

.control-small-width {
    width: 100px !important;
}

.invisible-pointer {
    pointer-events: none;
}

#scroll-info-box-top {
    background-image: url("../img/menu/info-scroll-top-pix.png");
    width: 750px;
    height: 69px;
}

#scroll-info-box-content {
    background-image: url("../img/menu/info-scroll-bg-pix.png");
    background-repeat: repeat-y;
    width: 750px;
    font-size: 20px;
    padding-left: 40px;
    padding-right: 25px;
    padding-bottom: 50px;
}

#scroll-info-box-bottom {
    background-image: url("../img/menu/info-scroll-bottom-pix.png");
    width: 750px;
    height: 69px;
}

.info-key1-container {
    width: 128px;
    height: 56px;
    background-image: url("../img/objects/keys/cellar-key1.png");
    background-size: cover;
    background-position: bottom;
}

.info-key2-container {
    width: 128px;
    height: 56px;
    background-image: url("../img/objects/keys/cellar-key2.png");
    background-size: cover;
    background-position: bottom;
}

#scroll-button {
    background-image: url("../img/menu/bg-papirus.png");
    width: 70px;
    height: 50px;
    border: 2px solid #be8254;
    color: #111010;
    font-weight: bold;
    font-size: 1.2rem;
    background-repeat: repeat;
}
